Source: clay
Section: python
Priority: extra
Maintainer: Jeremy Grosser <jeremy@uber.com>
Build-Depends: debhelper (>= 8.0.0), python-setuptools
Standards-Version: 3.9.2

Package: clay
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Clay is a framework for building RESTful backend services
